html,body{
    margin: 0;
    padding: 0;
    background: #000;
}

#container{
}

#awaken-game{
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}